<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 读取spring 上下文环境信息-->
    <springProperty scope="context" name="spring.application.name" source="opensourceframework.env.module"/>
    <springProperty scope="context" name="opensourceframework.env.logger.version" source="opensourceframework.env.logger.version" defaultValue="1.0"/>
    <springProperty scope="context" name="opensourceframework.env.logger.workdir" source="opensourceframework.env.logger.workdir" defaultValue="."/>
    <springProperty scope="context" name="opensourceframework.env.logger.level" source="opensourceframework.env.logger.level" defaultValue="INFO"/>

    <!-- console日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %-5level [v:${opensourceframework.env.logger.version}] [h:${opensourceframework.server.localHost}] [m:${spring.application.name}] [reqId:%X{req.requestId}] [%thread] %logger{36} [L:%line] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>
            ${opensourceframework.env.logger.workdir}/${spring.application.name}/${spring.application.name}.log
        </file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ${opensourceframework.env.logger.workdir}/${spring.application.name}/${spring.application.name}-%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>
            <maxFileSize>500MB</maxFileSize><!-- 单日志文件大小 -->
            <maxHistory>30</maxHistory> <!-- 保留30天日志 -->
            <totalSizeCap>20GB</totalSizeCap> <!-- 日志总量大小，超过该值旧的日志文件将被清理-->
        </rollingPolicy>
        <encoder>
            <pattern>%date %-5level [v:${opensourceframework.env.logger.version}] [h:${opensourceframework.server.localHost}] [m:${spring.application.name}] [reqId:%X{req.requestId}] [%thread] %logger{36} [L:%line] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- project default level -->
    <logger name="org.opensourceframework" level="debug"/>
    <logger name="org" level="${opensourceframework.env.logger.level}"/>
    <!--log4jdbc -->
    <logger name="jdbc.sqltiming" level="${opensourceframework.env.logger.level}"/>
    <logger name="com.ibatis" level="${opensourceframework.env.logger.level}"/>
    <logger name="com.ibatis.common.jdbc.SimpleDataSource" level="${opensourceframework.env.logger.level}"/>
    <logger name="com.ibatis.common.jdbc.ScriptRunner" level="${opensourceframework.env.logger.level}"/>
    <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="${opensourceframework.env.logger.level}"/>
    <logger name="java.sql.Connection" level="${opensourceframework.env.logger.level}"/>
    <logger name="java.sql.Statement" level="${opensourceframework.env.logger.level}"/>
    <logger name="java.sql.PreparedStatement" level="${opensourceframework.env.logger.level}"/>
    <logger name="RocketmqClient" level="warn" />

    <springProfile name="!prod">
        <root level="${opensourceframework.env.logger.level}">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>
    <springProfile name="prod">
        <root level="${opensourceframework.env.logger.level}">
            <appender-ref ref="ROLLING"/>
        </root>
    </springProfile>

</configuration>
